body {
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url('../img/wood-background.jpg');
  background-size: 100%;
  text-align: center;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin: 10px;
}

.covered {
  background-image: url('../img/card-back2.png');
  background-size: 100%;
  font-size: 0px;
}

.hand {
  overflow: auto;
  width: 800px;
  margin: 0 auto;
}

button {
  height: 40px;
  width: 75px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #F66;
  border-radius: 10px;
  border-color: white;
}

.new-game-button {
  width: 125px;
}

.winMessage {
  font-weight: bold;
  font-size: 35px;
  color: #F66;
  background-color: white;
  border-radius: 10px;
  border-color: #F66;
  border-width: 5px;
  border-style: solid;
  padding: 20px;
  margin: 20px 20px 20px 0;
  width: 350px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
