body {
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url('../img/wood-background.jpg');
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-image: url('../img/card-back2.png');
  background-size: 100%;
  font-size: 0px;
}

.hand {
  overflow: auto;
}

button {
  height: 40px;
  width: 75px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #F66;
  border-radius: 10px;
}

.new-game-button {
  width: 125px;
}
